<!DOCTYPE html>
<html lang="en">

<!-- https://bootswatch.com/4/superhero/bootstrap.css -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.css"> <!-- Using Bootswatch theme "Lux" -->
    <script src="https://kit.fontawesome.com/9792daf399.js" crossorigin="anonymous"></script>
    <title>Final Project</title>
</head>

<body class="w-100" id="Home" style="overflow-x: hidden; position: absolute;">
    <!-- navbar -->
    <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#Home">ADMIN Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        
    </nav> <!-- /navbar -->
    
    

    <!-- User info -->
    <div class="container-fluid pt-5" style="margin-top: 100px;">
        <div class="row">
            <div class="col-4 px-5">
                <img src=<%= ADMIN.avatar %> alt="profilePicture" class="img-thumbnail img-fluid">
                <button type="button" class="btn btn-link d-block mx-auto text-capitalize">Edit</button>
            </div>
            <div class="col-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-success">User Info:</li>
                    <li class="list-group-item">First Name: <%= ADMIN.firstName %> </li>
                    <li class="list-group-item">Last Name: <%= ADMIN.lastName %></li>
                    <li class="list-group-item">Email: <%= ADMIN.email %></li>
                    <li class="list-group-item">Mobile Number: <%= ADMIN.mobileNumber %></li>
                  </ul>
            </div>
            <div class="col-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-warning">Website Informations</li>
                    <li class="list-group-item">Number of Bloggers: <%= Bloggers.length %> </li>
                    <li class="list-group-item">Number of Articles: </li>
                  </ul>
            </div>
        </div>
    </div> <!-- /User info -->

    <hr class="my-5">

    <!-- Bloggers' Messages -->

    <div class="row">
      <div class="col-2"></div>
      <h1 class="text-center my-3 col-8">Bloggers' Messages </h1>
    </div>
    

    <ul class="list-group list-group-flush">

      <% Messages.forEach((msg) => { %>
        <li class="list-group-item my-2 d-flex">
          <div class="col d-inline-block">
            <div class="d-flex justify-content-between">
              <h5 class="mb-1"> <strong><%= msg.title %></strong>  </h5>
              
              <small> <%= msg.date %></small>
            </div>

            <h6><%= msg.summary %> </h6>
            <div class="ml-3" style="text-align: justify; height: 50px; overflow-y: auto;">
              <span class="ml-3"><%= msg.text %> </span>
            </div>
          </div>
          <div>
            <form action="/users/adminDashboard/deleteMessage" method="POST">
              <input type="hidden" name="messageId" value=<%= msg._id %> >
              <button type="submit" class="btn btn-link">
                <i class="far fa-minus-square text-danger fa-2x"></i>
              </button>
            </form>
          </div>
        </li>
        
      <% }) %> 

    </ul> <!-- /Bloggers' Messages -->
    
    <hr class="mt-2 mb-5">

    <!-- Bloggers -->
    <div class="row">
      <div class="col-2"></div>
      <h1 class="text-center my-3 col-8">Bloggers List </h1>
    </div>

    <ul class="list-group list-group-flush">
      <% Bloggers.forEach((blogger) => { %>
        <li class="list-group-item">
          <div class="d-flex justify-content-between">
            <h5><%= blogger._doc.email %> </h5>
            <div>
              <form action="/users/adminDashboard/bloggerInfo" method="POST">
                <input type="hidden" name="bloggerId" value=<%= blogger._doc._id %> >
                <button class="btn btn-link" type="submit"><i class="fas fa-angle-double-right text-info fa-2x"></i></button>
              </form>
            </div>
          </div>
          <b><strong> <%= blogger._doc.firstName %> <%= blogger._doc.lastName %> </strong></b>
          <% Articles.forEach((article) => { %>
            <% if(article._doc.author.toString() == blogger._doc._id.toString()) { %> 
              <small class="text-muted">  |  <%= article._doc.title %> </small>
            <% } %> 
          <% }) %> 
        </li> 
      <% }) %> 
    </ul><!-- /Bloggers -->

    
    <!-- ==========================
                Logout Modal
         ==========================-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header bg-danger">
                    <h5 class="modal-title text-light" id="exampleModalLabel">Logout</h5>
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="/users/adminDashboard/logout">
                      <button type="submit" class="btn btn-danger">Logout</button>
                    </form>
                </div>
                </div>
            </div>
        </div>
      
    
    <!-- ============================
              Delete User Modal 
         ============================ -->
        <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
              <div class="modal-header bg-warning">
                  <h5 class="modal-title text-light" id="exampleModalLabel">Delete User?</h5>
                  <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  Are you sure?
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-danger">Delete</button>
              </div>
              </div>
          </div>
        </div>


    <!-- ============================
              User Articles Modal 
         ============================ -->






    <!-- ================================
            Recover User Password Modal 
         ================================ -->
        <div class="modal fade" id="recoverPassModal" tabindex="-1" role="dialog" aria-labelledby="recoverPassModalLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
              <div class="modal-header bg-primary">
                  <h5 class="modal-title text-light" id="exampleModalLabel">Recover User's Password?</h5>
                  <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  Are you sure?
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Recover</button>
              </div>
              </div>
          </div>
        </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
  <style>
    i {
      cursor: pointer;
    }
  </style>
</html>